<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="log4net" type="System.Configuration.IgnoreSectionHandler"/>
  </configSections>
  <log4net>
    <appender name="out_console" type="log4net.Appender.ConsoleAppender">
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date{[HH:mm:ss.fff]} %-5level - %m%n" />
      </layout>
      <mapping>
        <level value="INFO" />
        <foreColor value="Green" />
      </mapping>
      <mapping>
        <level value="FATAL" />
        <foreColor value="Red" />
      </mapping>
      <mapping>
        <level value="ERROR" />
        <foreColor value="Purple" />
      </mapping>
      <mapping>
        <level value="WARN" />
        <foreColor value="Yellow" />
      </mapping>
    </appender>
    <appender name="app_console" type="log4net.Appender.FileAppender">
      <file value="log\console.log"/>
      <appendToFile value="False"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date %-5level [%thread] %logger [%line] %message%n" />
      </layout>
    </appender>
    <appender name="app_error" type="log4net.Appender.FileAppender">
      <filter type="log4net.Filter.LevelMatchFilter">
        <LevelToMatch value="ERROR"/>
      </filter>
      <filter type="log4net.Filter.DenyAllFilter" />
      <file value="log\error.log"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date %-5level [%thread] %logger [%line] %message%n" />
      </layout>
    </appender>
    <appender name="app_warn" type="log4net.Appender.FileAppender">
      <filter type="log4net.Filter.LevelMatchFilter">
        <LevelToMatch value="WARN"/>
      </filter>
      <filter type="log4net.Filter.DenyAllFilter" />
      <file value="log\warn.log"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date %-5level [%thread] %logger [%line] %message%n" />
      </layout>
    </appender>
    <!--<logger name="CUSTOM_LOG">
      <appender-ref ref="app_customlog" />
    </logger> -->
    <root>
      <level value="Info"/>
      <appender-ref ref="out_console" />
      <appender-ref ref="app_console" />
      <appender-ref ref="app_error" />
      <appender-ref ref="app_warn" />
    </root>
  </log4net>
</configuration>
<!-- 
Blue = 1
Green = 2
Cyan = 3
Red = 4
Purple = 5
Yellow = 6
White = 7
HighIntensity = 8
-->
